/.vscode
/beach.jpg
/boat.jpg
/books.txt
/books_and_chapters (1).txt
/cactus.jpg
/cat.jpg
/cat_small.jpg
/courses_list.text
/desert.jpg
/earth.jpg
/field.jpg
/forest.jpg
/harvester.jpg
/hiker.jpg
/hr_system.txt
/life-expectancy.csv
/life_expectancy.csv
/penguin.jpg
/snowscape.jpg
/spaceshuttle.jpg
/SPRING SEMESTER WEB FUNDAMENTALS
/sunset.jpg
/the.py
/the_file_goes_here.jpg
/tire_volume.py
/tire_volume1Anglne.py
/volume.txt
/volumes.txt
/W01ProgrammingwithFunctions.py
/W01WEbFundamentals.py
/W09newmilestonembaragamathieu.py
/W10newmilestonembaragamathieu.py
/week07milestone.py
/week07milestonembaragamathieu.py
/week08newmilestonembaragamathieu.py
/week11mbaragamilestone.py
/week11prep.py
/week12
/week12mbaragamilestone.py
/week13
/week13mbaragamathieu.py
/week2 prove.py
/wwd130
/__MACOSX